<h1>Hot Reads Here!!</h1>

<table class="hot-links">
  <% @links.each_with_index do |link, i| %>
  <tr>
    <td><%= i + 1 %>. </td>
    <td class='single-link'><%= link.url %></td>
  </tr>
  <% end %>
</table>
